.container{
    background-color: rgb(101, 101, 194);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 65vh;
    background-color: rgb(231, 223, 195);
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .logocontainer{
    position: relative
  }

  .logo{
    max-width: 300px;
    margin-left: 130px;
    position: relative; 
    top: -30px
    
    
  }

  .participante{
    max-width: 400px;
    position: absolute;
    top: -85px;
    left: 500px;
    z-index: 1
  }

  .bottom h2{
    color: rgb(115, 39, 185);
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .add{
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 10px
    
  }

  .input {
    z-index: 0;
    width: 35vw;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
    outline: none;
    position: relative;
    padding-left: 40px
  }

  .btn{
    width: 10vw;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    cursor: pointer
  }

  .txt{
    margin: 20px 0;
    text-align: center;
  }

  .containerfinal{
    display: flex;
    width: 40vw;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .play{
    z-index:1;
    position: absolute;
    margin-top: 13px;
    margin-left: 20px;
    color: white
  }

  .btn2{
    height: 6vh;
    width: 20vw;
    border-radius: 10px;
    border: none;
    background-color: rgb(233, 124, 0);
    color: white;
    cursor: pointer;
    z-index: 0;
    position: relative
  }

  .sacola{
    max-width: 100px;
  }